<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container"> <!-- Ensures content is centered -->
  
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav text-center">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/product">All Products</a>
        </li>
        <li class="nav-item  boder-radius-20px">
          <a class="nav-link" routerLink="/product2">Electronic Products</a>
        </li>
        <li class="nav-item  text-white">
          <a class="nav-link" routerLink="/cards">Clothes</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
